:root{
    font-size: 1rem;
    --text-primary: #b6b6b6;
    --text-secondary: #9c9cda;
    /* --bg-primary: #23232e; */
    --bg-primary:#6649b8;
    --bg-secondary: #141418;
    --transition-speed: 300ms;
}
.bg-primary{
    background-color: var(--bg-primary);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* validation class */
.errors ul li{
    list-style: none;
    text-align: left;
}
/* small screens */
@media only screen and (max-width:600px){
    .navibar{
        font-size: 1rem;
        bottom:0;
        width: 100vw;
        height: 4rem;
    }

    .navi-nav{
        flex-direction: row;
    }
    .navi-item{
        justify-content: center;
    }

    .main{
        margin: 0;
    }

    .logo{
        display: none;
        margin:0;
    }

    .link-text{
        margin-left: 0.2rem;
        margin-right: 0;
    }

}
/* large screens */
@media only screen and (min-width:600px){
    .navibar{
        top:0;
        width: 10rem;
        height: 100vh;
    }

    main{
        margin-left:10rem;
    }

    .navi-nav{
        flex-direction: column;
    }

    .navi-item:last-child{
        margin-top: auto;
    }

    .link-text{
        margin-left: 0.5rem;
    }
}

body::-webkit-scrollbar {
    width: 0.30rem;
}
  
body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #422e77;
  }

.navibar{
    padding: 0.5rem;
    position: fixed;
    background-color: var(--bg-primary);
}

.navi-nav{
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    align-items: center;
    height: 100%;
}

.navi-item{
    width:100%;
    transition: var(--transition-speed);
}
.navi-item:hover{
    transform: scale(1.1);
}

.navi-link{
    display: flex;
    align-items: center;
    height: 3rem;
    text-decoration:none;
    color:var(--text-primary);
}

.navi-link:hover{
    color:var(--text-secondary);
}

.logo{
    font-weight: bold;

}
/*////////// ranking css below //////////////*/

.rank-1{
    background-color: rgb(245, 245, 78);
}
.rank-2{
    background-color: #C0C0C0;
    
}
.rank-3{
    color:white;
    background-color: rgba(233, 144, 10, 0.767);
}